name: Playwright Tests

on:
  issue_comment:
    types: [created]

jobs:
  playwright-test:
    if: github.event.issue.pull_request != null
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Extract link from comment
        id: extract_link
        run: |
          LINK=$(echo "${{ github.event.comment.body }}" | grep -o 'https://[^ ]*')
          if [ -z "$LINK" ]; then
            echo "âŒ No deployment link found in the comment. Regex did not match."
            exit 1
          fi
          echo "Extracted LINK: $LINK"
          echo "LINK=$LINK" >> $GITHUB_OUTPUT
      
      # Checks out the repository code
      - uses: actions/checkout@v4

      # This step sets up the Node.js environment using the latest LTS version for subsequent workflow steps.
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('playwright/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-cache-

      - name: Install dependencies
        working-directory: playwright
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: playwright
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: playwright
        run: BASE_URL=${{ steps.extract_link.outputs.LINK }} npx playwright test

      - name: Upload Playwright report and artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ github.run_id }}
          path: |
            playwright/report
            playwright/artifacts
          retention-days: 30

